<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.chaoxing.mobile" />
    </queries>

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:description="@string/app_description"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".LauncherActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".CourseBlockActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <receiver
            android:name=".DeadlineReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.codex.chaoxingdeadline.DEADLINE_ITEM" />
                <action android:name="dev.codex.chaoxingdeadline.STATUS" />
                <action android:name="dev.codex.chaoxingdeadline.CHECK" />
                <action android:name="dev.codex.chaoxingdeadline.COURSE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>